#include <string.h>
#include <assert.h>
#include <stdio.h>

#include "{{ filename }}.h"

{% for struct in structs -%}
/* {{ struct.name }} */
size_t serialize_{{ struct.name }}(uint8_t* buffer, {{ ", ".join(parameters(struct)) }}) {
    {{ struct.name }} {{ struct.name.lower() }} = { {{ ", ".join(fill_padding(struct)) }} };
	// assert(buf_len >= sizeof({{ struct.name }}));
	memcpy(buffer, &{{ struct.name.lower() }}, sizeof({{ struct.name }}));
    return sizeof({{ struct.name }});
} 
size_t deserialize_{{ struct.name }}(uint8_t* buffer, {{ struct.name }}* {{ struct.name.lower() }}) {
	// assert(buf_len >= sizeof({{ struct.name }}));
	memcpy({{ struct.name.lower() }}, buffer, sizeof({{ struct.name }}));
    return sizeof({{ struct.name }});
}
{% endfor -%}
